<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disney API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
    <div class="container m-4">
        <div class="d-flex justify-content-center flex-column text-center">
            <div>
                <h1> Disney API</h1>
                <h4>Challenge NodeJS Alkemy</h4>
            </div>
            <p>
                Este proyecto fue desarrollado con el objeto de realizar el challenge de Alkemy para el ingreso a la
                aceleración de NodeJS. El mismo consite en el Desarrollo de una API que permita consumir datos de
                Películas y Personajes de Disney. Para obtener más información sobre el funcionamiento de la misma
                ingrese a la Documentación haciendo click en el botón de más abajo o si desea acceder al repositorio del
                proyecto haga ingrese en el siguiente <a href="https://github.com/hugotata78/node-alkemy-challenge"
                    target="_blank">Enlace</a>
            </p>
            <div class="text-center">
                <a href="/api/docs/" class="btn btn-primary w-25">Documentación</a>
            </div>
        </div>
    </div>
</body>

</html>